@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;
  --color-primary: #3251D0;
  --color-primary-darker: #1E3BB8;
  --color-dark: #364153;
  --color-danger: red
}